# virtual environments
.venv/
venv/
cse425project_env/

# python cache
__pycache__/
*.pyc

# data (do NOT push raw datasets)
data/raw/
data/processed/
*.mp3
*.wav

# large numpy / model files
*.npy
*.npz
*.pth

# notebook checkpoints
.ipynb_checkpoints/